@page "/categories"
@page "/categories/index"

@inject ICategory categoryeRepository
@*@attribute [Authorize(Roles = "Admin")]*@

<h3>Categories</h3>

<div class="form-group">
    <a class="btn btn-info" href="category/create">New Genre</a>
</div>

<GenericList List="Categories">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Image</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Categories)
                {
                    <tr>
                        <td>
                            <a class="btn btn-success" href="/category/edit/@item.Id">Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => DeleteCategories(item.Id))">Delete</button>
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Image</td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code { 
        List<Category> Categories;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                Categories = await categoryeRepository.GetCategory();
            }
            catch (Exception ex)
            {

            }
        }

        private async Task DeleteCategories(int Id)
        {
            await categoryeRepository.DeleteCategory(Id);
            Categories = await categoryeRepository.GetCategory();
        }
    }
